.services{
    .container{
        min-height: 620px;
        .card{
            transition: .5s;
            background-color: $dark;
            color:$white;
            &:hover{
                background-color: $primary;
                color:$dark;
                .icon,a{
                    color:$dark !important;
                }
            }
        }
    }
}
.dark{
    .services{
        background-color: black;
        color:$white;
        transition: .5s;
    }
}