.contact{
    .container{
        background-color: rgb(214, 208, 208);
        a{
            letter-spacing: .1rem;
        }
    }
}
.dark{
    .contact{
        background-color: $dark !important;
        color:$white !important;
        .container{
            background-color: rgb(52, 53, 62);
        }
    }
   
}